* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eef1f9;
    padding-top: 1em;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    margin: 0 0 1em;
    gap: 0.5em;
}

.form {
    width: 30em;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #9fb9f6;
    margin: 1em auto;
    padding: 3em;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}
.form > * {
    flex: 1;
    width: 100%;
}
.form div {
    margin: 0;
}

.description {
    font-size: 20px;
    color: #3e3e3e;
}

input[type=text],
input[type=email],
input[type=number] {
    width: 100%;
    margin: 0.5em 0;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: white;
}

.checkboxname {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.radiofurry {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    gap: 1em;
}
.radiofurry input {
    margin-right: 0.5em;
}

.checkboxdescription {
    font-family: "Roboto", sans-serif;
    margin-right: 1em;
}

.dropdown {
    width: 100%;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #5a78f0;
    color: white;
    margin: 0.5em 0;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}
button[type=submit]:hover {
    cursor: pointer;
    background-color: #3856d6;
}

select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: #333;
    background-size: 16px;
}

textarea {
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: white;
}

.hidden {
    display: none;
}